---
import HeroSection from '../components/HeroSection.astro';
import ProgramSection from '../components/ProgramSection.astro';
import WhenWhereSection from '../components/WhenWhereSection.astro';
import SpeakersSection from '../components/SpeakersSection.astro';
import GallerySection from '../components/GallerySection.astro';
import RegistrationSection from '../components/RegistrationSection.astro';
import FooterSection from '../components/FooterSection.astro';
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PhotoMeet 2026</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body>
    <HeroSection />
    <ProgramSection />
    <WhenWhereSection />
    <SpeakersSection />
    <GallerySection />
    <RegistrationSection />
    <FooterSection />
  </body>
</html>